<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Home</a>
    <ws-search 
        (onTyping)="filter = $event" [value]="filter">
    </ws-search>
    <div>            
        <button type="button" class="btn btn-outline-light" (click)="openRegister()">New Dragon</button>
        <button type="button" class="btn btn-outline-light ml-3" (click)="logOut()">Log Out</button> 
    </div>
</nav>

<ws-alerts 
    [text]="alertText" [type]="alertType" [visible]="alertVisible">
</ws-alerts>

<ws-dragons 
    [dragons]="dragons | filterByDescription: filter">
</ws-dragons>

